<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>Blank Page | Bootstrap Based Admin Template - Material Design</title>
    <!-- Favicon-->
    <link rel="icon" href="~/plugins/images/favicon.ico" type="image/x-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">

    <script src="~/plugins/jquery/jquery.min.js"></script>


    <!-- Bootstrap Core Css -->
    <link href="~/plugins/bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Waves Effect Css -->
    <link href="~/plugins/node-waves/waves.css" rel="stylesheet" />

    <!-- Animation Css -->
    <link href="~/plugins/animate-css/animate.css" rel="stylesheet" />

    <!-- Custom Css -->
    <link href="~/plugins/css/style.css" rel="stylesheet">

    <!-- AdminBSB Themes. You can choose a theme from css/themes instead of get all themes -->
    <link href="~/plugins/css/themes/all-themes.css" rel="stylesheet" />
    <!-- Bootstrap Select Css -->
    <link href="~/plugins/bootstrap-select/css/bootstrap-select.css" rel="stylesheet" />


    <script>
        function UpdateCartCount(cartcount) {
          
            $(".cartcount").text(cartcount);

        }
  

        function SignOut() {
            $.ajax({
                url: "https://localhost:44343/User/SignOut",
                cache: false,
                success: function () {

                    modalAlert3("SignOut", "Successfully SignOut", "green");
                    window.location.reload();

                },
                error: function () { },
            });
        }


        function SignIn() {
            $.ajax({
                url: "https://localhost:44343/User/GetUsersByUserName?UserName=" + $("#urnameid").val() + "&Password=" + $("#passwrid").val(),
                cache: false,
                success: function (data) {

                    if (data == 0) {
                         modalAlert3("Warning", "UserName does not exist ", "red");
                    }
                    else if (data == 1) {
                         modalAlert3("Warning", "Incorrect Password ", "red");
                    }

                    else {
                        modalAlert3("Success", "Logged In successfully", "green");
                        CloseLoginPopup();

                        setTimeout(
                            function () {
                                 window.location.reload();
                            }, 2000);
                         }

                },
                error: function () {
                },
            });

        }


        function CheckUserLogin() {
            console.log("message");

            if (@Convert.ToInt32(Session["UserId"])  > 0) {
                return true;
            }
            else {
                return false;
            }

        }

        function LoginPopup() {
            $("#LoginPopUp").modal('show');

        }

        function CloseLoginPopup() {
            $("#LoginPopUp").modal('hide');

        }

        function GetcategoryPage(CategoryId) {
            var url = "https://localhost:44343/Stuffs/PageView?CategoryId=" + CategoryId;
            window.location.href = url;

        }

        function modalAlert3(header, message, color) {
            $("#alertLabel").html(header);
            $("#alertBody").html(message);
            var modalClass = "modal-col-" + color;
            $("#CommonModalContent").addClass(modalClass);
            $("#smallModal3").modal('show');
        }

        function modalAlert3Hide() {
            $("#smallModal3").modal('hide');
        }

        //left pannel category append//
        function GetCategory() {
            $.ajax({
                url: "https://localhost:44343/Home/GetAllActiveCategory",
                cache: false,

                success: function (data) {
                    for (var i = 0; i < data.length; i++) {
                        var li = '<li><a onclick = "GetcategoryPage(' + data[i].CategoryId + ')"><span>' + data[i].Category + '</span></a></li>';
                        $("#leftpannel").append(li);
                    }

                },
                error: function (error) {
                    console.log(error);
                },
            });
        }

        $(document).ready(function () {
            GetCategory();

        });

    </script>



</head>

<body class="theme-red">
    <!-- Page Loader -->
    <div class="page-loader-wrapper">
        <div class="loader">
            <div class="preloader">
                <div class="spinner-layer pl-red">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
            <p>Please wait...</p>
        </div>
    </div>
    <!-- #END# Page Loader -->

    <!-- Overlay For Sidebars -->
    <div class="overlay"></div>
    <!-- #END# Overlay For Sidebars -->
    <!-- Search Bar -->
    <div class="search-bar">
        <div class="search-icon">
            <i class="material-icons">search</i>
        </div>
        <input type="text" placeholder="START TYPING...">
        <div class="close-search">
            <i class="material-icons">close</i>
        </div>
    </div>
    <!-- #END# Search Bar -->
    <!-- Top Bar -->
    <nav class="navbar">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="javascript:void(0);" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false"></a>
                <a href="javascript:void(0);" class="bars"></a>
                <a class="navbar-brand" href="~/index.html">
                   <i class="material-icons dp48" style="font-size: 35px" >cake</i> <span style="font-size: 19px">THE CAKE WORLD</span>

                </a>

            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse">
                <ul class="nav navbar-nav navbar-right">

                   
                    <!-- Notifications -->
                    <li>
                        <a href="@Url.Action("OrdersView","Orders")">
                            <span _ngcontent-ng-c2582791735="" class="icon-asset material-icons"><span _ngcontent-ng-c2582791735="" style="font-size: 30px">shopping_bag</span></span>
                            <br>
                            <span class="label-count" style="font-size:14px;top: -6px;">Orders</span>
                        </a>

                    </li>
                    <!-- #END# Notifications -->
                    <!-- Notifications -->
                    <li>
                        <a href="@Url.Action("CartView","Cart")">
                            <i style="font-size: 30px" class="material-icons">shopping_cart</i>
                            @if (Convert.ToInt32(Session["UserId"])  > 0) {
                               <span id="catcountId" class="label-count cartcount" style="font-size:14px;top: -6px;">@Convert.ToInt32(Session["CartCount"])</span>
                            }
                            else {
                                <span id="catcountId" class="label-count cartcount" style="font-size:14px;top: -6px;">0</span>
                            }

                        </a>

                    </li>
                    <!-- #END# Notifications -->


                </ul>
            </div>
        </div>
    </nav>
    <!-- #Top Bar -->
    <section>
        <!-- Left Sidebar -->
        <aside id="leftsidebar" class="sidebar">
            <!-- User Info -->
            <div class="user-info">
                <div class="image">
                    <img src="~/plugins/images/user.png" width="48" height="48" alt="User" />
                </div>
                <div class="info-container">
                    <div class="name" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">@Session["UserName"]</div>
                    <div class="email">@Session["EmailId"]</div>
                    <div class="btn-group user-helper-dropdown">
                        <i class="material-icons" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">keyboard_arrow_down</i>
                        <ul class="dropdown-menu pull-right">

                            @if (Convert.ToInt32(Session["UserId"])  > 0) {
                            <li><a href="@Url.Action("ProfileView","Profile")"><i class="material-icons">person</i>Profile</a></li>
                            <li><a href="@Url.Action("AddressView","Address")"><i class="material-icons">person</i>Address</a></li>
                            <li><a onclick="SignOut()" href="javascript:void(0);"><i class="material-icons">input</i>Sign Out</a></li>
                            }
                            else {
                            <li><a onclick="LoginPopup()" href="javascript:void(0);"><i class="material-icons">input</i>Sign In</a></li>
                            <li><a href="@Url.Action("Registration","Registration")"><i class="material-icons">input</i>Registration</a></li>
                            }
                           

                        </ul>
                    </div>
                </div>
            </div>
            <!-- #User Info -->
            <!-- Menu -->
            <div class="menu">
                <ul id="leftpannel" class="list">
                    <li class="header">OUR CATEGORY</li>
                    @*<li>
                            <a href="@Url.Action("CategoryView","Category")">
                                <i class="material-icons">categor</i>
                                <span>Category</span>
                            </a>
                        </li>*@

                </ul>
            </div>
            <!-- #Menu -->
            <!-- Footer -->
            <div class="legal">
                <div class="copyright">
                    &copy; 2016 - 2017 <a href="javascript:void(0);">THE CAKE WORlD</a>.
                </div>
                <div class="version">
                    <b>Version: </b> 1.0.5
                </div>
            </div>
            <!-- #Footer -->
        </aside>
        <!-- #END# Left Sidebar -->


    </section>

    <section class="content">
        <div class="container-fluid">

            @RenderBody()
        </div>
    </section>




    <!-- Jquery Core Js -->
    <script src="~/plugins/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core Js -->
    <script src="~/plugins/bootstrap/js/bootstrap.js"></script>

    <!-- Select Plugin Js -->
    <script src="~/plugins/bootstrap-select/js/bootstrap-select.js"></script>

    <!-- Slimscroll Plugin Js -->
    <script src="~/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>

    <!-- Waves Effect Plugin Js -->
    <script src="~/plugins/node-waves/waves.js"></script>

    <!-- Custom Js -->
    <script src="~/plugins/js/admin.js"></script>

    <!-- Demo Js -->
    <script src="~/plugins/js/demo.js"></script>

    <div class="modal fade" id="smallModal3" tabindex="-1" role="dialog" style="z-index: 1051;">
        <div class="modal-dialog modal-sm" role="document">
            <div id="CommonModalContent" class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="alertLabel">Modal title</h4>
                </div>
                <div class="modal-body" id="alertBody">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">CLOSE</button>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="LoginPopUp" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm" role="document">
        <div id="CommonModalContent" class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="Logintitle">Login</h4>
            </div>
            <div class="modal-body" id="LoginBody">
              
                    <div class="msg">Sign in to start your session</div>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">person</i>
                        </span>
                        <div class="form-line">
                            <input type="text" id="urnameid" class="form-control" name="username" placeholder="Username" required="" autofocus="" aria-required="true">
                        </div>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">lock</i>
                        </span>
                        <div class="form-line">
                            <input type="password" id="passwrid" class="form-control" name="password" placeholder="Password" required="" aria-required="true">
                        </div>
                    </div>
                    <div class="row">
                       
                        <div class="col-xs-4">
                            <button class="btn btn-block bg-pink waves-effect" onclick="SignIn()" >SIGN IN</button>
                        </div>
                    </div>
                    <div class="row m-t-15 m-b--20">
                        <div class="col-xs-6">
                            <a href="@Url.Action("Registration","Registration")">Register Now!</a>
                        </div>
                        <div class="col-xs-6 align-right">
                            <a href="forgot-password.html">Forgot Password?</a>
                        </div>
                    </div>
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">CLOSE</button>
            </div>
        </div>
    </div>

    </div>

</body>

</html>
